<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Sgub</strong> is a product developed by <a href="https://www.code4you.cloud"> Code4you</a> <br>
      It's dedicated to Laura <i class="fas fa-heart"></i> missing during covid time.(sorry). <br>
      © 2020 Code4you Ltd
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>