<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Pyjob</strong> is *another* well-job-digital marketplace.</br>
      Our service is suitable for <br /><b>nomads|freelancers|agencies</b>.</br> 
      © 2020-2021 <a href="https://www.code4you.cloud"> Code4you</a> 
      The website content is licensed under<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a> <br>
      <small>Everything here is dedicated to Laura <i class="fas fa-heart"></i></small> <br>
    </p>
    <p><a href="https://www.pyjob.cloud/terms">Terms</a>&nbsp;&nbsp;_&nbsp;&nbsp;<a href="https://www.pyjob.cloud/privacy">Privacy Policy</a></p>
  </div>
</footer>
