<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Sgub</strong> is *another* suitable marketplace for, 
      <br /><b>coder(s)|d.nomad(s)|freelancer(s)|agencies</b>.</br> 
      © 2020|2021|2022 by<a href="https://www.code4you.cloud"> Code4you</a> <br/>
      <small>Everything here is dedicated to Laura <i class="fas fa-heart"></i></small> <br>
    <a href="https://www.pyjob.cloud/terms">Terms</a>&nbsp;&nbsp;_&nbsp;&nbsp;<a href="https://www.pyjob.cloud/privacy">Privacy Policy</a>
  </div>
</footer>
