<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Sgub</strong> is *another* fuck-job-digital platform.</br>
      Our service is suitable for <br /><b>nomads|freelancers|agencies</b>.</br> 
      © 2020 <a href="https://www.code4you.cloud"> Code4you</a> Ltd
      <a href="http://opensource.org/licenses/mit-license.php">MIT License</a><br>
      The website content is licensed under<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a> <br>
      <small>Everything here is dedicated to Laura <i class="fas fa-heart"></i></small> <br>
    </p>
    <p><a href="https://www.sgub.it/terms">Terms</a>&nbsp;&nbsp;_&nbsp;&nbsp;<a href="https://www.sgub.it/privacy">Privacy Policy</a></p>
  </div>
</footer>